/* remove browser default styles */
button, input {
	font-size: inherit;
	font-family: inherit;
	border: none;
	color: inherit;
	padding: 0;
	line-height: inherit;
	box-shadow: none;
	outline: none;
}

/* theme */
:root {
	--bitsy-bg-color: #ccccff; /* color names?? */
	--bitsy-card-color: #ffffff;
	--bitsy-text-color: #6767b2;
	--bitsy-button-color: #e8e8ff;
	--bitsy-button-display: inline-flex;
	--bitsy-margin-xs: 0.125em;
	--bitsy-margin-s: 0.25em;
	--bitsy-margin-m: 0.5em;
	--bitsy-margin-l: 1.0em;
}

/* page */
html {
	font-size: 100%;
	line-height: 100%;
	background: var(--bitsy-bg-color);
	color: var(--bitsy-text-color);
	overscroll-behavior: none;
}

body {
	margin: 0;
	padding: 0;
}

/* button */
button {
	background: var(--bitsy-button-color);
	display: var(--bitsy-button-display);
	padding: var(--bitsy-margin-s);
	gap: var(--bitsy-margin-m);
	align-items: center;
}

button:active {
	background: var(--bitsy-text-color);
	color: var(--bitsy-card-color);
}

/* canvas */
canvas {
	margin-bottom: var(--bitsy-margin-s);
}

/* icon */
.bitsy_icon svg {
	width: 1em;
	fill: currentColor;
}

/* forms */
form {
	display: flex;
	flex-grow: 1;
	flex-wrap: nowrap !important; /* I don't like using important */
}

input {
	font-family: monospace;
	flex-grow: 1;
	width: 0;
	padding: var(--bitsy-margin-s);
	border: solid var(--bitsy-margin-xs);
	border-color: var(--bitsy-button-color);
}

input:hover {
	border-color: var(--bitsy-text-color);
}

input:focus {
	border-color: var(--bitsy-text-color);
	outline: solid var(--bitsy-margin-xs) var(--bitsy-text-color);
}

input + label {
	background: var(--bitsy-button-color);
	display: var(--bitsy-button-display);
	padding: var(--bitsy-margin-s);
	gap: var(--bitsy-margin-m);
	align-items: center;
}

input:checked + label {
	background: var(--bitsy-text-color);
	color: var(--bitsy-card-color);
}

/* checkbox */
input[type=checkbox] {
	display: none;
}

/* radio */
input[type=radio] {
	display: none;
}

input[type=radio] + label {
	flex-grow: 1;
	align-content: center;
	justify-content: center;
}

/* file */
input[type=file] {
	display: none;
}

/* root */
.bitsy-main {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

/* main menu */
.bitsy-menubar {
	display: flex;
	flex-direction: column;
	background: var(--bitsy-card-color);
	padding: var(--bitsy-margin-m);
}

.bitsy-menubar-main {
	display: flex;
}

.bitsy-menubar-logo {
	display: var(--bitsy-button-display);
}

/* card view */
.bitsy-card-view {
	overflow-x: scroll;
	overscroll-behavior: none;
	flex-grow: 1;
	padding: var(--bitsy-margin-m);
	padding-bottom: var(--bitsy-margin-l);
}

.bitsy-card-container {
	display: flex;
	align-items: flex-start;
	height: 100%;
}

/* cards */
.cardui-card {
	background: var(--bitsy-card-color);
	margin: var(--bitsy-margin-m);
	display: inline-flex;
	flex-direction: column;
	max-height: 100%;
}

.bitsy-menubar-group {
	display: flex;
	flex-wrap: wrap;
	gap: var(--bitsy-margin-s);
	margin-bottom: var(--bitsy-margin-s);
	align-items: center;
}

.cardui-titlebar {
	display: flex;
	padding: var(--bitsy-margin-s);
	background: var(--bitsy-button-color);
}

.cardui-icon {
	margin: var(--bitsy-margin-s);
}

.cardui-title {
	flex-grow: 1;
	text-align: center;
	margin: var(--bitsy-margin-s);
}

.cardui-main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: var(--bitsy-margin-m);
	max-height: 100%;
	overflow: scroll;
}

.cardui-main.cardui-size-xsmall {
	width: 128px;
}

.cardui-main.cardui-size-small {
	width: 256px;
}

.cardui-main.cardui-size-medium {
	width: 384px;
}

.cardui-main.cardui-size-large {
	width: 512px;
}

/* legacy */
.bitsy-legacy-container {
	display: none;
}

.bitsy-legacy-flex-col {
	display: flex;
	flex-direction: column;
}