/* remove browser default styles */
button, input, select {
	font-size: inherit;
	font-family: inherit;
	border: none;
	color: inherit;
	padding: 0;
	line-height: inherit;
	outline: none;
}

/* theme */
:root {
	--bitsy-bg-color: #ccccff; /* color names?? */
	--bitsy-card-color: #ffffff;
	--bitsy-text-color: #6767b2;
	--bitsy-button-color: #e8e8ff;
	--bitsy-button-display: inline-flex;
	--bitsy-margin-xs: 0.125em;
	--bitsy-margin-s: 0.25em;
	--bitsy-margin-m: 0.5em;
	--bitsy-margin-l: 1.0em;
}

/* page */
html {
	font-family: "Nunito", Helvetica, Arial, sans-serif;
	font-size: 100%;
	line-height: 100%;
	background: var(--bitsy-card-color);
	color: var(--bitsy-text-color);
	overscroll-behavior: none;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

p {
	margin-top: 0;
}

/* gaps */
button,
label,
.bitsy-menubar,
.bitsy-toolbar-toggles,
.bitsy-menubar-group {
	margin: calc(-0.5 * var(--bitsy-margin-s));
}

button > *,
label > *,
.bitsy-menubar > *,
.bitsy-toolbar-toggles > *,
.bitsy-menubar-group > * {
	margin: calc(0.5 * var(--bitsy-margin-s));
}

/* button */
button {
	background: var(--bitsy-button-color);
	display: var(--bitsy-button-display);
	padding: var(--bitsy-margin-s);
	/*gap: var(--bitsy-margin-m);*/
	align-items: center;
}

button:active {
	background: var(--bitsy-text-color);
	color: var(--bitsy-card-color);
}

/* label */
label {
	display: var(--bitsy-button-display);
	padding: var(--bitsy-margin-s);
	/*gap: var(--bitsy-margin-m);*/
	align-items: center;
}

/* canvas */
canvas {
	margin-bottom: var(--bitsy-margin-s);
}

/* icon */
.bitsy_icon svg {
	width: 1em;
	fill: currentColor;
}

/* forms, inputs, selects */
form {
	display: flex;
	flex-grow: 1;
	flex-wrap: nowrap !important; /* I don't like using important */
}

select, input {
	font-family: monospace;
	flex-grow: 1;
	width: 0;
	padding: var(--bitsy-margin-s);
	border: solid var(--bitsy-margin-xs);
	border-color: var(--bitsy-button-color);
}

select:hover, input:hover {
	border-color: var(--bitsy-text-color);
}

select:focus, input:focus {
	border-color: var(--bitsy-text-color);
	outline: solid var(--bitsy-margin-xs) var(--bitsy-text-color);
}

input + label {
	background: var(--bitsy-button-color);
	display: var(--bitsy-button-display);
	padding: var(--bitsy-margin-s);
	/*gap: var(--bitsy-margin-m);*/
	align-items: center;
}

input:checked + label {
	background: var(--bitsy-text-color);
	color: var(--bitsy-card-color);
}

/* checkbox */
input[type=checkbox] {
	display: none;
}

/* radio */
input[type=radio] {
	display: none;
}

input[type=radio] + label {
	flex-grow: 1;
	align-content: center;
	justify-content: center;
}

/* file */
input[type=file] {
	display: none;
}

/* textarea */
textarea {
	background: black;
	color: white;
	border: none;
	width: calc(100% - (var(--bitsy-margin-s) * 2));
	resize: vertical;
	margin-bottom: var(--bitsy-margin-s);
	padding: var(--bitsy-margin-s);
}

/* root */
.bitsy-main {
	display: flex;
	flex-direction: column;
	height: calc(100vh - (var(--bitsy-margin-s) * 2));
	/*padding: var(--bitsy-margin-s);*/
	overflow: hidden; /* seems like a hack */
}

.bitsy-main-workbench { /* name? */
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden; /* I feel this shouldn't be needed? */
	padding: var(--bitsy-margin-s);
	background: var(--bitsy-bg-color);
	/*border-radius: var(--bitsy-margin-m);*/
}

/* main menu */
.bitsy-menubar {
	flex-shrink: 0;
	display: flex;
	background: var(--bitsy-card-color);
	padding: var(--bitsy-margin-m);
	/*gap: var(--bitsy-margin-s);*/
	align-items: center;
	/*box-shadow: var(--bitsy-margin-s) 0 var(--bitsy-margin-s) var(--bitsy-text-color);*/
}

.bitsy-menubar-logo {
	flex-grow: 1;
	display: var(--bitsy-button-display);
	justify-content: center;
}

/* toolbar */
.bitsy-toolbar {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	transform: translateX(-20em);
	height: 100vh;
	width: 12em;
	display: flex;
	flex-direction: column;
	background: var(--bitsy-card-color);
	box-shadow: 0 0 var(--bitsy-margin-m) var(--bitsy-text-color);
	transition: transform 0.5s;
}

.bitsy-toolbar-open {
	transform: translateX(0em);
}

.bitsy-toolbar-toggles {
	display: flex;
	flex-direction: column;
	padding: var(--bitsy-margin-m);
	/*gap: var(--bitsy-margin-s);*/
	overflow-y: scroll;
}

/* title */
.bitsy-title-edit {
	flex-shrink: 0;
	margin: var(--bitsy-margin-m);
	margin-bottom: 0;
	/*max-width: 50em;*/
}

/* card view */
.bitsy-card-view {
	overscroll-behavior: none;
	display: flex;
	flex-grow: 1;
	overflow-x: scroll;
	margin: var(--bitsy-margin-m);
	margin-top: 0;
	margin-bottom: 0;
	padding: var(--bitsy-margin-s);
	padding-bottom: var(--bitsy-margin-l);
	padding-top: 0;
	scroll-snap-type: x mandatory;
}

.bitsy-card-container {
	display: flex;
	align-items: flex-start;
}

/* cards */
.cardui-card {
	background: var(--bitsy-card-color);
	margin: var(--bitsy-margin-m);
	margin-left: 0;
	display: inline-flex;
	flex-direction: column;
	max-height: 100%;
	scroll-snap-align: center;
}

.bitsy-menubar-group {
	display: flex;
	flex-wrap: wrap;
	/*gap: var(--bitsy-margin-s);*/
	margin-bottom: var(--bitsy-margin-s);
	align-items: center;
}

.cardui-titlebar {
	flex-shrink: 0;
	display: flex;
	padding: var(--bitsy-margin-s);
	background: var(--bitsy-button-color);
}

.cardui-icon {
	margin: var(--bitsy-margin-s);
}

.cardui-title {
	flex-grow: 1;
	text-align: center;
	margin: var(--bitsy-margin-s);
}

.cardui-main {
	flex-grow: 1;
	padding: var(--bitsy-margin-m);
	max-height: 100%;
	overflow: scroll;
}

.cardui-main.cardui-size-xsmall {
	width: 8em;
}

.cardui-main.cardui-size-small {
	width: 16em;
}

.cardui-main.cardui-size-medium {
	width: 24em;
}

.cardui-main.cardui-size-large {
	width: 32em;
}

.cardui-main canvas {
	width: 100%;
}

/* legacy */
.bitsy-legacy-container {
	display: none;
}

.bitsy-legacy-flex-col {
	display: flex;
	flex-direction: column;
}

.panelShadow {
	background: var(--bitsy-text-color);
	margin: var(--bitsy-margin-m);
	margin-left: 0;
}