/* remove browser default styles */
button {
	font-size: inherit;
	border: none;
	color: inherit;
}

/* theme */
:root {
	--bitsy-bg-color: #ccccff; /* color names?? */
	--bitsy-card-color: #ffffff;
	--bitsy-text-color: #6767b2;
	--bitsy-button-color: #e8e8ff;
}

/* page */
html {
	font-size: 100%;
	background: var(--bitsy-bg-color);
	color: var(--bitsy-text-color);
}

/* button */
button {
	background: var(--bitsy-button-color);
}

button:active {
	background: var(--bitsy-text-color);
	color: var(--bitsy-card-color);
}

/* icon */
.bitsy_icon svg {
	width: 1em;
	fill: currentColor;
}

/* checkbox */
input[type=checkbox] {
	display: none;
}

input[type=checkbox] + label {
	background: var(--bitsy-button-color);
}

input[type=checkbox]:checked + label {
	background: var(--bitsy-text-color);
	color: var(--bitsy-card-color);
}

/* radio */
input[type=radio] {
	display: none;
}

input[type=radio] + label {
	background: var(--bitsy-button-color);
}

input[type=radio]:checked + label {
	background: var(--bitsy-text-color);
	color: var(--bitsy-card-color);
}

/* misc*/
#topbar { /* make class? */
	background: var(--bitsy-card-color);
}

.panel {
	background: var(--bitsy-card-color); /* rename? */
}