/* TEST STYLE */
.cardui-card {
	border: dotted 1px black;
	border-radius: 0px;
	padding: 0px;
	font-family: monospace;
	color: black;
	font-size: 16px;
}

.cardui-titlebar {
	border: dotted 1px black;
}

.cardui-icon {
	border: dotted 1px black;
	width: 30px;
}

.cardui-title {
	border: dotted 1px black;
}

.cardui-close {
	background: white;
	border: dotted 1px black;
	border-radius: 0px;
	width: 30px;
}

.cardui-main {
	margin: 10px;
	border: dotted 1px black;
}

.cardui-nav {
	border: dotted 1px black;
	height: 30px;
}

.cardui-canvas {
	border: dotted 1px black;
}

.cardui-menu {
	border: dotted 1px black;
}

.cardui-menu-group {
	padding: 5px;
}

.cardui-menu-group span {
	margin-right: 5px;
}