.blockNode {
/*	min-width: 200px;
	min-height: 300px;
	background: purple;
	padding: 10px;*/

/*	border: 1px solid #6767b2;
	border-left: 4px solid #6767b2;*/

	min-height: 10px;
	background: #e8e8ff;
	padding: 8px;
	/*background: black;*/
	/*border-top: 2px solid gray;*/
}

.blockNode:hover {
	border-color: orange;
}

/*.blockNode.scriptNodeEven:hover {
	border-color: yellow;
}

.blockNode.scriptNodeOdd:hover {
	border-color: purple;
}*/

.dialogNode {
	background: white;
	border: 1px solid #6767b2;
	min-width: 100px;
	margin-bottom: 4px;
	padding: 10px;
	/*min-height: 200px;*/
	/*margin: 10px;*/
	/*background: #7d828a;*/
	/*border-bottom: 4px solid #636363;*/
}

.sequenceNode {
	background: white;
	border: 1px solid #6767b2;
	min-width: 100px;
	margin-bottom: 4px;
	/*min-height: 200px;*/
	/*margin: 10px;*/
	/*background: #acbfe6;*/
	padding: 10px;
	/*border-bottom: 4px solid #8291ad;*/
}

/* TODO : share styles between node types!! */
.functionNode {
	background: white;
	border: 1px solid #6767b2;
	min-width: 100px;
	margin-bottom: 4px;
	padding: 10px;
}

.sequenceNode .blockNode {
	margin-bottom: 8px;
}

.scriptNodeSelected {
	background: #6767b2;
	color: white;
}

.actionBuilder {
	display: flex;
	flex-direction: column;
}

.actionBuilder button {
	background: #ccccff;
	flex-grow: 1;
	margin: 4px;
}

.actionBuilder button:active {
	background: #6767b2;
	color:white;
}

.actionBuilderActive .actionBuilderAdd {
	display: none;
}

.actionBuilderOptions {
	display: none;
	flex-direction: column;
	background: #ccccff;
	padding: 4px;
}

.actionBuilderOptions button {
	background: #e8e8ff;
}

.actionBuilderActive .actionBuilderOptions {
	display: flex;
}

.actionBuilderOptions .actionBuilderCancel {
	background: #6767b2;
	color: white;
}