.blockNode {
/*	min-width: 200px;
	min-height: 300px;
	background: purple;
	padding: 10px;*/
	border-left: 4px solid black;
	/*border-top: 2px solid gray;*/
}

.dialogNode {
	min-width: 100px;
	/*min-height: 200px;*/
	/*margin: 10px;*/
	background: #7d828a;
	border-bottom: 4px solid #303236;
}

.sequenceNode {
	min-width: 100px;
	min-height: 200px;
	/*margin: 10px;*/
	background: #acbfe6;
	padding: 10px;
	border-bottom: 4px solid #8291ad;
}

.sequenceNode .blockNode {
	margin-bottom: 8px;
}